@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root {
  --font_size-TITLE: 1.3rem;
  --font_size-phoneTITLE: 1.1rem;
  --font_size-TEXT: 1rem;
  --font_size-phoneTEXT: .9rem;
  --font_size-BIGTITLE: 2rem;
  --font_size-phoneBIGTITLE: 1.6rem;

  --color_primary: #64D862;
  --color_secondary: #CE8126;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

html {
  scroll-behavior: smooth;
}


body {
  color: white;
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  transition: all .3s ease-in-out;
  background-image: url("bg_greens.webp");
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

h2 {
  font-size: var(--font_size-BIGTITLE);
}
h3 {
  font-size: var(--font_size-TITLE);
}

@media screen and (max-width: 748px) {
  h3 {
    font-size: var(--font_size-phoneTITLE);
  }
  h2 {
    font-size: var(--font_size-phoneBIGTITLE);
  }
  p {
    font-size: var(--font_size-phoneTEXT);
  }
}
